@font-face {
    font-family: Metric-Bold;
    src: url('../fonts/Metric-Bold.otf') format('truetype');
}

@font-face {
    font-family: Metric-Light;
    src: url('../fonts/Metric-Light.otf') format('truetype');
}

@font-face {
    font-family: Metric-Semi-Bold;
    src: url('../fonts/Metric-Semibold.otf') format('truetype');
}

body {
    letter-spacing: 1px;
}
#main {
    max-width: 1920px;
    margin: 0 auto;
}

#header{
    align-items: center;
    padding-right: 0px;
    max-width: 1000px;
}
#header #leftSide {
    float: left;
    width:100%;
}
#header #leftSide h1 {
    font-size: 16px;
    float: left;
    padding-left: 15px;
    color: #686868;
}
#header #leftSide #verigreenLogo {
    text-align: center;
    margin-right: 40px;
}

#header #leftSide #verigreenLogo img{
    width: 32px;
    height: 32px;
}
#header #leftSide #verigreenLogo h1 {
    display: inline-block;
    float: none;
    font-size: 14px;
    padding: 0;
    font-family: Metric-Bold;
}
#header #leftSide #verigreenLogo span {
    padding-right: 62px;
}
#header #rightSide {
    float: left;
    max-width: 500px;
    width:100%;
    /*margin-top: 28px;*/
}

#header #rightSide ul{
    padding: 0;
    list-style: none;
    color: #686868;
}
#header #rightSide ul li{
    display: block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
#header #rightSide ul li a{
    /*display: block;*/
    padding: 6px 15px;
    text-decoration: none;
    color: #686868;
    font-family: Metric-Bold;
}
#header #rightSide ul li a:hover{
    color: #3c3c3c;
}
#header #rightSide ul li ul.dropdown{
    min-width: 188px; /* Set width of the dropdown */
}
#header #rightSide ul li ul li.seperator {
    background-color: #d9d9d9;
    height: 1px;
}
#header #rightSide ul li ul li a {
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    padding-top: 12px;
}
#header #rightSide ul li ul li:hover{
    background-color: #dfdfdf;
    font-size: 16px;
    line-height: 32px;
}

#header #rightSide .more {
    color: #8dba37;
}
#header #rightSide .more:hover {
    color: #6f9624;
}
#description {
    text-align: center;
    background: url(../images/VG_Mobile_1080x690.png) no-repeat;
    color: white;
    padding: 0 0;
}
#description h2 {
    padding-bottom: 14px;
    font-size: 52px;
    margin: 0;
    font-family: Metric-Light;
    letter-spacing: -1px;
}
#description p {

    margin: 0;
}

#description #githubRibbon {
    float:right;
}


#description #whatItsAllAbout {
    align-self: center;
    width: 240px;
    height: 42px;
    margin: 0 auto;
    border-radius: 28em;
    background-color: #558200;
    /*margin-left: 563px;*/

}
#description #whatItsAllAbout:hover {
    background-color: #496f00;
}
#description #whatItsAllAbout a {
    padding-top: 13px;
    color: white;
    display: block;
    font-family: Metric-Bold;
    font-size: 16px;
}
#description #whatItsAllAbout a:hover {
    text-decoration: none;
}
#description #underline {
    text-decoration: underline;
}
#howItWorks {
    margin: 0 auto;
}

#howItWorks h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    color: #93bf3f;
    font-family: Metric-Bold;
}
#howItWorks #wrapper {
    max-width: 1000px;
    margin: auto;
}
#howItWorks #howItWorksLeftSide {
    max-width: 500px;
    float:left;
    color: #686868;
    font-size: 20px;
    margin-top: 43px;
}

#howItWorks #howItWorksLeftSide p{
    display: block;
    float: none;
    padding-top: 17px;
    margin: 0 auto;
    line-height: 30px;
    font-family: Metric-Light;
}
#howItWorks #howItWorksLeftSide ul {
    margin-top: 17px;
    list-style-type: none;
    -webkit-padding-start: 0px;
    font-family: Metric-Light;
}

#howItWorks #howItWorksLeftSide #firstLi {
    background: url(../images/VG_1_24.png) no-repeat 0px 3px;
    list-style: none;
    margin: 0;
    padding: 0px 0px 6px 40px;
}
#howItWorks #howItWorksLeftSide #secondLi {
    background: url(../images/VG_2_24.png)  no-repeat 0px 3px;
    list-style: none;
    margin: 0;
    padding: 0px 0px 6px 40px;
}
#howItWorks #howItWorksLeftSide #thirdLi {
    background: url(../images/VG_3_24.png)  no-repeat 0px 3px;
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 40px;
}
#howItWorks #howItWorksLeftSide li {
    background: no-repeat 0 center;
    list-style-position: inside;
    line-height: 32px;

}
/*#howItWorks #howItWorksLeftSide ul p {*/
/*}*/

/*#howItWorks #howItWorksLeftSide #howItWorksLeftSideEmptyParg {*/
/*padding-top: 53px;*/
/*}*/

#howItWorks #howItWorksRightSide {
    float:left;
    max-width: 500px;
    margin-top: 43px;
    margin-bottom: 30px;
}

#movie {
    background: black;
    opacity: 65;
    height: 590px;
    text-align: center;
    display:none;
}
#movie h1 {
    padding-top: 185px;
    color: #ffffff;
    font-size: 52px;
    margin: 0 0 50px 0;
    font-family: Metric-Light;
}
#movie #movieLink {
    width: 60px;
    height:60px;
    display:inline-block;
    background:transparent url("../images/VG_play_60x60.png") center top no-repeat;
}
#movie #movieLink:hover {
    background-image: url("../images/VG_play-hover_60x60.png");
}
#fromTheProduct {
    /*height: 590px;*/
    text-align: center;
    background-color: #ededed;
}
#fromTheProduct h1 {
    margin: 0;
    padding-top: 80px;
    font-size: 26px;
    color: #686868;
    font-family: Metric-Bold;
}
#fromTheProduct p {
    float:none;
    margin: 0;
    padding-top: 54px;
    font-size: 20px;
    color: #686868;
    line-height: 32px;
    padding-bottom: 83px;
    font-family: Metric-Light;
}

#whyVerigreen {
    /*height: 718px;*/
}

#whyVerigreen #whyverigreenHeader {
    margin: 0 auto;
    padding-top: 80px;
    font-size: 26px;
    color: #93bf3f;
    text-align: center;
    font-family: Metric-Bold;
}
#whyVerigreen h1 {
    text-align: left;
    color: #686868;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: Metric-Bold;
}

#whyVerigreen p {
    font-size: 18px;
    color: #69696a;
    line-height: 30px;
    margin: 0;
    font-family: Metric-Light;
}
#whyVerigreen #savesYourTime {
    background: url(../images/VG_time-icon_134.png)  no-repeat top left;
    float: left;
    max-width: 410px;
    /*margin-left: 268px;*/
    margin-top: 54px;
    padding-left: 100px;
    margin-bottom: 14px;
}
#whyVerigreen #keepYourPreferences {
    background: url(../images/VG_preferance-icon_134.png)  no-repeat top left;
    float: left;
    max-width: 410px;
    padding-left: 100px;
    margin-bottom: 14px;
}

#whyVerigreen #successfulCommits {
    background: url(../images/VG_successful-icon_134.png)  no-repeat top left;
    float: left;
    max-width: 410px;
    /*margin-left: 268px;*/
    padding-left: 100px;
}

#whyVerigreen #easyToUse {
    background: url(../images/VG_easy-icon_134.png)  no-repeat top left;
    float: left;
    max-width: 410px;
    padding-left: 100px;
}

#whyVerigreen #tryVerigreen {
    width: 220px;
    height: 55px;
    border-radius: 28em;
    background-color: #558200;
    display: block;
    text-align: center;
    color: white;
    align-self: center;
    margin: 64px auto;

}
#whyVerigreen #tryVerigreen:hover {
    background: #496f00;
}
#whyVerigreen #tryVerigreen a {
    padding-top: 18px;
    color: white;
    display: block;
    font-family: Metric-Bold;
    font-size: 18px;
}
#whyVerigreen #tryVerigreen a:hover {
    text-decoration: none;
}

#aboutUs {
    background-color: #ededed;
    text-align: center;
}

#aboutUs #aboutUsHeader {
    margin: 0;
    padding-top: 80px;
    font-size: 26px;
    color: #93bf3f;
    text-align: center;
    margin-bottom: 69px;
    font-family: Metric-Bold;
}

#aboutUs h1 {
    font-size: 20px;
    color: #686868;
    margin: 0 0 7px;
    font-family: Metric-Bold;

}

#aboutUs p {
    max-width: 1000px;
    font-size: 20px;
    color: #686868;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    font-family: Metric-Light;
}

#aboutUs #people {
    max-width: 816px;
    float:left;
    text-align: center;
}

#aboutUs #people h1 {
    font-size: 13px;
    color: #868686;
    font-family: Metric-Bold;
    margin-top: 20px;
}

#aboutUs #people #eran {
    float:left;
    /*margin-right: 35px;*/
}

#aboutUs #people #barak {
    float:right;
    /*margin-right: 40px;*/
}

#aboutUs #people #andrea {
    float:left;
    padding-top: 20px;
}

#aboutUs #people #mircea {
    float:right;
    padding-top: 20px;
}
.upperContacts {
    margin-bottom: 20px;
}
#footer {
    display: none;
    background-color: #94c140;
}

#footer div {
    padding-top: 58px;
    float: left;
    margin-right: 100px;
}

#footer #footerWrapper {
    max-width: 1000px;
    margin: auto;
    float: none;
}
#footer h1 {
    font-size: 16px;
    color: #558200;
    padding-bottom: 16px;
    margin: 0;
    font-family: Metric-Bold;
}
#footer a {
    display: block;
    color: white;
    padding-bottom: 18px;
    font-size: 16px;
}
#footer #copyright {
    font-size: 16px;
    width: 292px;
    float: left;
}
#footer #copyright h1 {
    color: white;
}
#footer #copyright img {
    float: left;
}
#footer img {
    padding-right: 5px;
}
#footer #followUs {
    margin-right: 0;
}
#footer #followUs a {
    float: left;
}

@media (min-width: 360px) {
    #aboutUs #people h1{
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    #header {
        height: 112px;
    }
    #header #leftSide {
        margin-top: 26px;
        max-width: 400px;
    }
    #header #leftSide #verigreenLogo {
        text-align: left;
        margin: auto;
    }
    #header #leftSide #verigreenLogo img{
        display: inline-block;
        float: left;
        width: 56px;
        height: 56px;
    }

    #header #leftSide #verigreenLogo h1{
        font-size: 20px;
        font-family: Metric-Bold;
        padding: 22px 0 0;
        margin: 0;
    }
    #header #leftSide #verigreenLogo span {
        padding-right: 0;
    }
    #header #leftSide h1 {
        margin-top: 22px;
    }
    #header #rightSide {
        margin-top: 40px;
        float: right;
        margin-right: 83px;
    }
    #header #rightSide ul li ul.dropdown {
        position: absolute;
        top: 25px;
        left: -90px;
        z-index: 999;
        border-radius: 3%;
        background: #ffffff;
        box-shadow: -5px 10px 30px -5px rgba(0,0,0,0.4);
    }

    #header #rightSide ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    #header #rightSide ul li ul.dropdown li{
        display: block;
    }
    #header #rightSide ul li ul.dropdown{
        min-width: 188px; /* Set width of the dropdown */
        display: none;
    }
    #description {
        height: 435px;
        background: url(../images/VG_header-img_1366x435.png) no-repeat;
    }
    #description h2 {
        padding-top: 100px;
        padding-left: 149px;
    }
    #description #whatItsAllAbout {
        margin-top: 64px;
        margin-bottom: 22px;
    }
    #howItWorks {
        height: 590px;
    }
    #howItWorksLeftSide {

    }
    #whyVerigreen #savesYourTime {
        margin-left: 168px
    }
    #whyVerigreen #keepYourPreferences {
        margin-left: 68px;
        margin-top: 54px;
    }
    #whyVerigreen #successfulCommits {
        margin-left: 168px;
    }
    #whyVerigreen #easyToUse {
        margin-left: 68px;
    }
    #aboutUs {
        height: 920px;
    }
    #aboutUs #people {
        margin: 92px auto;
        float: none;
    }
    #aboutUs #people #eran {
        margin-right: 35px;
    }

    #aboutUs #people #barak {
        margin-right: 40px;
        float: left;
    }

    #aboutUs #people #andrea {
        margin-right: 40px;
        padding-top: 0;
    }

    #aboutUs #people #mircea {
        float:left;
        padding-top: 0;
    }
    #footer {
        display: block;
    }
    .upperContacts {
        margin-bottom: 60px;
    }
}
@media (min-width: 1367px) {
    #description {
        background: url(../images/VG_header-img_1920x435.png) no-repeat;
    }
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0;
}

.header {
    margin: 0;
    background-color: white;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #8dba37;
}
.navbar-toggle {
    float: left;
    margin-left: 15px;
    border: none;
}